/* Drawer */
.mdc-drawer {
  width: 100%;
  flex-direction: row;
}

.mdc-drawer__content {
  width: 20vw;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.mdc-drawer-app-content {
  padding: 16px;
  padding-bottom: 0;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

/* Drawer list */
.mdc-deprecated-list {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.smui-card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
}

.row * {
  margin-right: 0.65rem;
}
