/* list item graphic/avatar */
.mdc-deprecated-list-item.fs-entry .mdc-deprecated-list-item__graphic {
  background-color: cadetblue;
  border-radius: 100%;
  padding: 0.4rem;
  margin: 0rem 1.35rem 0rem 0.35rem;
}

/* list item text container */
.mdc-deprecated-list-item__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* list item primary text span */
.mdc-deprecated-list-item__primary-text {
  display: flex;
}

/* list item secondary text span */
.mdc-deprecated-list-item__secondary-text {
  width: 100%;
  justify-content: space-between;
}

/* (explorer item) list item container */
.mdc-drawer .mdc-deprecated-list-item.fs-entry {
  margin: 0;
  padding: 4px 0px;
}

/* Item divider */
.mdc-drawer .fs-entry-separator.mdc-deprecated-list-divider {
  margin: 0;
}
